<section class="announcement">
    <div class="page-padding">
        <div class="announcement_content-wrapper">
            <div class="announcement_content">
                <div>Medium length banner heading <a href="#">with link</a> goes here</div>
            </div>
        </div>
    </div>
</section>