<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="3fe29843-336e-105b-b56d-bf57d7cd196c" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="navbar_container">
        <a href="#" class="navbar_logo-link w-nav-brand"><img src="{{ section.settings.logo }}" alt="" class="navbar_logo" /></a>
        <nav role="navigation" class="navbar_menu w-nav-menu">
            {% for link in section.settings.menu.links %}
            <a href="{{ link.url }}" class="navbar_link w-nav-link">{{ link.title }}</a>
            {% endfor %}
            <div class="navbar1_menu-buttons"><a href="#" class="button is-button-small w-button">Button</a></div>
        </nav>
        <div class="navbar_menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
            <div class="menu-icon">
                <div class="menu-icon_line-top"></div>
                <div class="menu-icon_line-middle"><div class="menu-icon_line-middle-inner"></div></div>
                <div class="menu-icon_line-bottom"></div>
            </div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
{% schema %}
{
    "name": "Navigation",
    "settings": [
    {
        "type": "text",
        "id": "logo",
        "default": "https://uploads-ssl.webflow.com/62de57ffe8549c49b6edda78/62de57ffe8549c0f6beddaa3_company-logo.svg",
        "label": "Lien du logo",
        "info": "Format SVG de préférence"
    },
    {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Menu de navigation"
    }]
}
{% endschema %}